* {
    text-decoration: none;
    border-style: none;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, #ffccff 0%, #ccccff 100%);
    width: 100%;
    height: 100vh;
}

.phoditor-logo {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 240px;
    z-index: 3;
}

.phoditor-logo img:first-child {
    width: 100%;
}

.phoditor-logo img:last-child {
    display: none;
    width: 70px;
    height: 70px;
}

.sing-part {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 25px;
    width: 400px;
    height: 570px;
    align-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 3;
}

.phoditor-text {
    margin-left: 0px;
    margin-top: 0px;
    align-self: center;
    color: rgb(83, 0, 185);
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.flex-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    display: flex;
    text-align: center;
    align-items: center;
    width: 59%;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.input {
    width: 60%;
    height: 35px;
    padding: 8px;
    font-size: 18px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(67, 0, 148);
}

.flex-terms {
    text-align: center;
    align-self: center;
    width: 60%;
}

.flex-terms input {
    accent-color: rgb(83, 0, 185);
}

.terms {
    color: rgb(83, 0, 185);
    cursor: pointer;
}

.terms:hover {
    color: rgb(52, 0, 117);
}

.submit-flex {
    align-self: center;
    width: 60%;
    height: 38px;
}

.submit-btn {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(83, 0, 185);
    border-color: rgb(83, 0, 185);
    border-radius: 2px;
}

.submit-btn:hover {
    background-color: rgb(67, 0, 148);
}

.sm-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sing-part p {
    color: rgb(67, 67, 67);
    text-align: center;
}

.sing-part p a {
    color: rgb(83, 0, 185);
}

@media (max-width: 950px) {
    .phoditor-logo img:first-child {
        display: none;
    }

    .phoditor-logo img:last-child {
        display: block;
    }
}

@media (max-width: 600px) {
    .sing-part {
        background-color: #00000000;
        margin-top: 40px;
    }
    
    .phoditor-logo img:last-child {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 425px) {
    .phoditor-logo img:last-child {
        width: 50px;
        height: 50px;
    }

    .sing-part {
        width: 100%;
        margin-top: 30px;
    }
}