* {
    margin: 0px;
    background: none;
    border-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin-top: -60px;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 0px 5px rgb(206, 206, 206);
}

.menu-logo {
    display: flex;
    justify-items: center;
}

.menu {
    position: relative;
    display: none;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 55px;
    margin-bottom: 0px;
    color: black;
    font-size: 22px;
    align-self: center;
}

.menu-btn:hover {
    background-color: rgb(206, 206, 206);
}

.menu:hover .menu-btn {
    background-color: rgb(206, 206, 206);
}

.menu:hover .menu-content {
    display: inline-block;
}

.menu-btn i {
    margin-top: 15px;
}

.menu-content {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-width: 150px;
    min-height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0px rgb(142, 142, 142);
}

.menu-content-flex {
    position: relative;
    width: 100%;
}

.menu-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.menu-about:hover {
    background-color: #dadada;
}

.menu-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.menu-contact:hover {
    background-color: #dadada;
}

.menu-support {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.menu-support:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #dadada;
}

.menu-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 0px;
}

.menu-content-button:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #dadada;
}

.menu-content-button:focus {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #dadada;
}

.menu-content-flex:hover .menu-dropdown-content {
    display: block;
}

.menu-products {
    width: auto;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 20px;
}

.menu-dropdown-content {
    position: absolute;
    display: none;
    box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
    background-color: white;
    width: 300px;
    left: -63px;
    border-radius: 15px;
    border-style: none;
}

.menu-dropdown-flex {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 240px;
}

.menu-vimg-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: none;
    margin: 0px;
    text-decoration: none;
    border-style: none;
}

.menu-vimg-logo:hover {
    background-color: rgb(236, 236, 236);
}

.menu-image-logo:hover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu-video-logo:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu-vimg-logo img {
    width: 120px;
    border-radius: 20px;
    margin: 20px;
}

.menu-vimg-logo div {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: bolder;
    margin-right: 30px;
}

.menu-vimg-logo div p {
    color: rgb(104, 104, 104);
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}

.p-logo {
    display: none;
    justify-content: center;
    align-self: center;
    min-width: 49px;
    height: 49px;
    margin-left: 6px;
    text-decoration: none;
}

.p-logo img {
    width: 100%;
}

.phoditor-logo {
    display: flex;
    justify-content: center;
    min-width: 210px;
    height: 49px;
    margin-left: 6px;
    text-decoration: none;
}

.phoditor-logo img {
    width: 100%;
    min-height: 46px;
}

.middle-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 450px;
}

.middle-items a {
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.products-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-style: none;
    background: none;
    height: 60px;
}

.dropdown:hover .products-btn {
    background-color: rgb(206, 206, 206);
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    left: -250px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgb(142, 142, 142);
    background-color: white;
}

.dropdown-flex {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 240px;
}

.vimg-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: none;
    margin: 0px;
    text-decoration: none;
    border-style: none;
}

.video-logo:hover {
    background: rgb(236, 236, 236);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image-logo {
    border-right-color: rgb(206, 206, 206);
    border-right-width: 1px;
    border-right-style: solid;
}

.image-logo:hover {
    background: rgb(236, 236, 236);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.vimg-logo img {
    width: 200px;
    border-radius: 20px;
    margin: 20px;
}

.vimg-logo div {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 30px;
}

.vimg-logo div p {
    color: rgb(104, 104, 104);
    font-size: 20px;
    font-weight: normal;
}

.products {
    color: black;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 22px;
    align-self: center;
}

.about {
    color: black;
    margin-bottom: 0px;
    font-size: 22px;
    align-self: center;
}

.about:hover {
    color: #280047;
}

.contact {
    color: black;
    margin-bottom: 0px;
    font-size: 22px;
    align-self: center;
}

.contact:hover {
    color: #280047;
}

.support {
    color: black;
    margin-bottom: 0px;
    font-size: 22px;
    align-self: center;
}

.support:hover {
    color: #280047;
}

.profile-flex {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 25%;
    height: 60px;
}

.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 169px;
}

.sign-up {
    background-color: rgb(83, 0, 185);
    color: white;
    min-width: 90px;
    font-size: 20px;
    font-weight: bolder;
    border-style: solid;
    border-color: rgb(83, 0, 185);
    border-radius: 10px;
}

.sign-up:hover {
    background-color: rgb(63, 0, 140);
    border-color: rgb(63, 0, 140);
}

.login {
    background: none;
    color: rgb(83, 0, 185);
    font-size: 20px;
    font-weight: bolder;
    border-style: solid;
    border-color: rgb(83, 0, 185);
    border-radius: 10px;
    border-width: 2px;
}

.login:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(63, 0, 140);
    border-color: rgb(63, 0, 140);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    min-height: 45px;
    margin-left: 20px;
    margin-right: 15px;
    padding: 0px;
    border-style: none;
    border-radius: 50%;
}

.profile-flex div:nth-of-type(2):hover .profile {
    background-color: rgb(236, 236, 236);
}

.profile-flex div:nth-of-type(2):hover .profile-content {
    display: inline-block;
}

.profile-content {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    right: 15px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    box-shadow: 0px 0px 10px -4px rgb(34, 34, 34);
}

.user-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    border-bottom: 1px rgb(223, 223, 223) solid;
}

.user img {
    width: 64px;
    height: 64px;
    border-style: none;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
}

.user label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 64px;
    height: 64px;
    cursor: pointer;
    border-style: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.482);
    z-index: 2;
    opacity: 0;
}

.user label i {
    position: absolute;
    z-index: 3;
    opacity: 0;
}

.user label:hover , .user label i {
    opacity: 1;
}

.user input {
    display: none;
}

.user img:hover {
    opacity: 0.5;
}

.user-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 15px;
}

.user-text p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    margin-bottom: 0px;
}

.user-text p:nth-of-type(2) {
    font-size: 14px;
    font-family: Inter;
    color: rgb(131, 131, 131);
    margin-bottom: 0px;
}

.settings {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.settings:hover {
    background-color: rgb(236, 236, 236);
}

.settings p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 7px;
}

.history {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.history:hover {
    background-color: rgb(236, 236, 236);
}

.history p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 7px;
}

.manage-account {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.manage-account:hover {
    background-color: rgb(236, 236, 236);
}

.manage-account p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 7px;
}

.sign-out {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-left: 15px;
}

.sign-out:hover {
    background-color: rgb(226, 199, 199);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sign-out p {
    color: red;
    font-size: 17px;
    font-weight: 500;
    margin-left: 7px;
    margin-bottom: 0px;
}

.preview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 430px;
    margin-top: 60px;
    margin-bottom: 230px;
    background: linear-gradient(to top right, #9500ff 7%, #3399ff 100%);
}

.preview div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: auto;
    height: 400px;
    animation-name: big-glowing-text-shadow;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes big-glowing-text-shadow {
    0% {text-shadow: 0px 0px 1px white;}
    100% {text-shadow: 0px 0px 5px white;}
}

.preview div:nth-of-type(1) p {
    color: white;
    line-height: 80px;
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
}

.preview div:nth-of-type(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.preview div:nth-of-type(2) img {
    position: relative;
    width: 100%;
    max-width: 600px;
    animation-name: preview-img-animation;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
}

@keyframes preview-img-animation {
    0% {transform: rotateY(0deg) translateY(-10px); box-shadow: 2px 0px 0px 0px rgb(44, 44, 44);}
    100% {transform: rotateY(30deg) translateY(10px); box-shadow: 10px 0px 0px 0px rgb(44, 44, 44);}
}

.preview div:nth-of-type(2) div {
    position: relative;
    width: 200px;
    height: 40px;
    margin-top: -25px;
    margin-right: 30px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    animation-name: preview-shadow-animation;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
}

@keyframes preview-shadow-animation {
    0% {transform: scale(0); opacity: 0;}
    100% {transform: scale(1); opacity: 0.8;}
}

.title {
    color: rgb(83, 0, 185);
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
}

.resize {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 320px;
    margin-bottom: 150px;
    background: linear-gradient(to left, #9900cc 7%, #3399ff 100%);
    z-index: 3;
}

.white-circle-flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle-flex img:nth-of-type(1) {
    position: absolute;
    height: 360px;
    z-index: 2;
}

.white-circle-flex img:nth-of-type(2) {
    position: absolute;
    height: 440px;
    z-index: 2;
    animation-name: circle-animation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.white-circle-flex img:nth-of-type(3) {
    height: 230px;
    z-index: 3;
}

.resize-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 230px;
}

.resize-text div {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
    animation-name: white-glowing-text-shadow;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.resize-text p {
    text-align: center;
    font-size: 34px;
    color: rgb(19, 19, 19);
}

.spot-img {
    width: 140px;
    margin-left: 13px;
    margin-bottom: -60px;
    z-index: 5;
}

.file-format {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 320px;
    margin-bottom: 250px;
    background-color: rgb(236, 236, 236);
    z-index: 3;
}

.file-format-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
}

.file-format-text div {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(83, 0, 185);
    margin-bottom: 20px;
}

.file-format-text p {
    text-align: center;
    font-size: 34px;
    color: rgb(19, 19, 19);
}

.colored-circle-flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored-circle-flex img:nth-of-type(1) {
    position: absolute;
    height: 360px;
    z-index: 2;
}

.colored-circle-flex img:nth-of-type(2) {
    position: absolute;
    height: 440px;
    z-index: 2;
    animation-name: circle-animation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.colored-circle-flex img:nth-of-type(3) {
    height: 230px;
    z-index: 3;
}

@keyframes circle-animation {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.bg-remover-title {
    color: rgb(83, 0, 185);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 70px;
}

.bg-remover {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 550px;
    background-color: rgb(245, 245, 245);
    z-index: 5;
}

.bg-remover p {
    color: rgb(83, 0, 185);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bg-remover div {
    align-self: center;
}

.right-arrows {
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
    align-self: center;
}

.bg-remover-img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.spot-1-img-1 {
    position: relative;
    width: 150px;
    float: right;
    margin-top: -60px;
    z-index: 3;
}

.steps-big-title {
    color: rgb(83, 0, 185);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 150px;
}

.steps div {
    width: 280px;
    height: 280px;
    background-image: linear-gradient(to bottom left, rgb(0, 106, 255), rgb(39, 0, 147));
    border-radius: 30px;
    animation-name: floating-cards;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes floating-cards {
    0% {transform: translateY(7px); box-shadow: 0px 0px 30px 0px rgb(104, 104, 104);}
    100% {transform: translateY(-7px);}
}

.step {
    width: 70px;
    color: rgb(19, 19, 19);
    background-color: rgb(236, 236, 236);
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 2px;
    border-radius: 10px;
}

.steps-title {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
    animation-name: white-glowing-text-shadow;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes white-glowing-text-shadow {
    0% {text-shadow: 0px 0px 0px white;}
    100% {text-shadow: 0px 0px 4px white;}
}

.steps p {
    color: rgb(245, 245, 245);
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.drop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
}

.drop div {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 100%;
    padding-bottom: 130px;
    margin-bottom: 50px;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    border-color: rgb(206, 206, 206);
    border-width: 4px;
    border-style: dashed;
}

.drop input {
    display: none;
}

.drop label {
    display: flex;
    justify-content: center;
    background-color: #46007c;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    align-self: center;
    text-align: center;
}

.drop label:hover {
    background-color: #3b0068;
}

.drop p {
    color: rgb(133, 133, 133);
    font-size: 25px;
    margin: 0px;
    text-align: center;
    align-self: center;
}

.add-img {
    position: absolute;
    align-self: center;
    width: 150px;
    bottom: 50px;
}

.spot-1-img {
    width: 150px;
    margin-bottom: -90px;
}

.download-app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    background-color: rgb(245, 245, 245);
}

.download-app h1 {
    color: rgb(83, 0, 185);
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.download-app-a {
    display: flex;
    justify-content: center;
    background-color: rgb(83, 0, 185);
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 15px 25px 15px 25px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.download-app-a:hover {
    background-color: rgb(63, 0, 140);
}

.download-app-a i {
    font-size: 32px;
    align-self: center;
    margin-right: 12px;
}

.download-app h2 {
    color: rgb(133, 133, 133);
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 20px;
}

.download-app img {
    width: 30px;
    height: 28px;
    margin-right: 10px;
    align-self: center;
}

.download-app input {
    margin-right: 6px;
    accent-color: rgb(83, 0, 185);
}

.download-app label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.download-app label p span a {
    color: rgb(83, 0, 185);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.download-app span:hover {
    color: rgb(63, 0, 140);
}

.download-app p {
    margin-bottom: 0px;
}

.try {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-bottom: 120px;
}

.try h1 {
    position: relative;
    color: rgb(83, 0, 185);
    font-weight: bolder;
    margin-bottom: 80px;
}

.try h1 img {
    position: absolute;
    top: -40px;
    left: -60px;
}

.try div img:nth-of-type(1) {
    position: absolute;
    top: -45px;
    left: -45px;
}

.try div img:nth-of-type(2) {
    position: absolute;
    bottom: -63px;
    left: 5px;
}

.try div img:nth-of-type(3) {
    position: absolute;
    bottom: -5px;
    right: -70px;
}

.try div {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 0, 185);
    width: 150px;
    height: 50px;
    margin: 0px;
    border-radius: 50px;
}

.try a {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 0, 185);
    color: white;
    text-decoration: none;
    width: 150px;
    height: 50px;
    margin: 0px;
    border-radius: 50px;
}

.try a:hover {
    background-color: rgb(63, 0, 140);
}

.try div a p {
    align-self: center;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bolder;
}












.sides {
    background: linear-gradient(to top left, #9900cc 7%, #3399ff 100%);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.left-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.middle-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 34%;
}

.right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.stay-connected {
    width: 80%;
    height: 40px;
}

.stay-connected a:nth-of-type(1) {
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a:nth-of-type(2) {
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a:nth-of-type(3) {
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 4px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a:nth-of-type(4) {
    padding-top: 4px;
    padding-right: 1px;
    padding-bottom: 4px;
    padding-left: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a:nth-of-type(5) {
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a:nth-of-type(6) {
    padding-top: 6px;
    padding-right: 1px;
    padding-bottom: 6px;
    padding-left: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.stay-connected a i {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stay-connected-word {
    color: rgb(19, 19, 19);
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.contact-us {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-us div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgb(142, 142, 142);
    align-self: center;
}

.contact-us div i {
    width: 39px;
    height: 1px;
    padding-top: 1px;
    background-color: white;
}

.contact-us input {
    width: 60%;
    height: 40px;
    background-color: white;
    align-self: center;
}

.contact-us button {
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-self: center;
}
.contact-us button i {
    width: 40px;
    height: 1px;
    align-self: center;
    background-color: white;
}












.copyright {
    text-align: center;
    font-size: 18px;
    background-color: #dadada;
}

.arrow-up-btn {
    width: 50px;    
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgb(63, 0, 140);
    border-radius: 50px;
    border-style: none;
    padding: 0px;
    z-index: 100;
}

.arrow-up-btn:hover {
    box-shadow: 0px 0px 10px 0px rgb(104, 104, 104);
}

.cookies {
    position: relative;
}

.cookies-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding: 0px;
    bottom: 10px;
    left: 10px;
    background-color: white;
    border-color: #005eff;
    border-style: solid;
    border-radius: 50px;
    z-index: 100;
}

.cookies:hover .cookies-btn {
    box-shadow: 0px 0px 8px 0px rgb(104, 104, 104);
}

.cookies:hover .cookies-text {
    display: inline-block;
}

.cookies-btn i {
    margin-bottom: 15px;
}

.cookies-text {
    display: none;
    position: fixed;
    width: 580px;
    height: 200px;
    padding: 20px;
    bottom: 65px;
    left: 10px;
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 25px 0px rgb(142, 142, 142);
    z-index: 100;
}

.cookies-text p {
    color: rgb(19, 19, 19);
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.cookies-text div {
    position: absolute;
    right: 35px;
}

.cookies-text div button:nth-of-type(1) {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    color: #005eff;
    font-weight: bolder;
    background-color: white;
    border-color: #005eff;
    border-style: solid;
    border-radius: 10px;
}

.cookies-text div button:nth-of-type(1):hover {
    box-shadow: 0px 0px 8px 0px rgb(142, 142, 142);
}

.cookies-text div button:nth-of-type(2) {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: white;
    background-color: #005eff;
    border-style: none;
    border-radius: 10px;
}

.cookies-text div button:nth-of-type(2):hover {
    background-color: #0048c3;
    box-shadow: 0px 0px 8px 0px rgb(142, 142, 142);
}

.cookies-text div button:nth-of-type(3) {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: white;
    background-color: #005eff;
    border-style: none;
    border-radius: 10px;
}

.cookies-text div button:nth-of-type(3):hover {
    background-color: #0048c3;
    box-shadow: 0px 0px 8px 0px rgb(142, 142, 142);
}

@media (max-width: 1200px) {
    .preview {
        height: 350px;
    }

    .preview div:nth-of-type(1) {
        min-width: auto;
        height: 350px;
    }

    .preview div:nth-of-type(1) p {
        font-size: 70px;
        line-height: 70px;
    }

    .preview div:nth-of-type(2) img {
        width: 100%;
        height: 300px;
    }

    .preview div:nth-of-type(2) div {
        width: 160px;
        height: 30px;
    }

    .resize {
        height: 300px;
    }

    .white-circle-flex img:nth-of-type(2) {
        display: none;
    }

    .resize-text p {
        font-size: 30px;
    }

    .file-format {
        height: 300px;
    }

    .file-format-text {
        min-width: 360px;
    }

    .colored-circle-flex img:nth-of-type(2) {
        display: none;
    }

    .file-format-text p {
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    .preview {
        height: 350px;
        margin-bottom: 140px;
    }

    .preview div:nth-of-type(1) {
        min-width: auto;
        height: 350px;
    }

    .preview div:nth-of-type(1) p {
        font-size: 70px;
        line-height: 60px;
    }

    .preview div:nth-of-type(2) img {
        width: 100%;
        height: 300px;
    }
    
    .preview div:nth-of-type(2) div {
        width: 130px;
        height: 27px;
    }

    .title {
        font-size: 55px;
    }

    .resize {
        height: 270px;
    }

    .resize-text div {
        font-size: 45px;
    }

    .resize-text p {
        font-size: 30px;
    }

    .file-format {
        height: 270px;
        margin-bottom: 180px;
    }
    
    .file-format-text div {
        font-size: 45px;
    }

    .file-format-text p {
        font-size: 30px;
    }

    .bg-remover-title {
        font-size: 45px;
    }

    .steps-big-title {
        font-size: 45px;
    }

    .spot-1-img {
        width: 130px;
        margin-bottom: -77px;
    }

    .steps-title {
        font-size: 27px;
    }

    .bg-remover {
        height: 480px;
    }

    .bg-remover-img {
        width: 260px;
        height: 360px;
    }

    .right-arrows {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 950px) {
    header {
        height: 55px;
        margin-top: -55px;
    }

    .middle-items {
        width: 330px;
        height: 55px;
    }

    .profile-flex {
        height: 55px;
    }

    .sign {
        min-width: 155px;
    }

    .phoditor-logo {
        width: 170px;
    }

    .vimg-logo img {
        width: 180px;
    }

    .vimg-logo div {
        font-size: 26px;
    }

    .vimg-logo div p {
        font-size: 16px;
    }

    .dropdown-content {
        margin-left: 70px;
        left: -300px;
    }
    
    .dropdown-flex {
        width: 770px;
        height: 210px;
    }

    .products-btn {
        height: 55px;
    }

    .products-btn i {
        font-size: 15px;
    }

    .products {
        margin-left: 7px;
    }

    .support {
        display: none;
    }

    .sign-up {
        min-width: 83px;
        font-size: 18px;
    }

    .login {
        font-size: 18px;
    }

    .profile {
        margin-right: 10px;
        margin-left: 20px;
    }

    .profile i {
        margin-top: 1px;
    }

    .preview {
        margin-top: 55px;
    }

    .preview div:nth-of-type(1) {
        min-width: auto;
    }

    .preview div:nth-of-type(1) p {
        font-size: 65px;
    }

    .preview div:nth-of-type(2) img {
        width: 100%;
        height: 270px;
    }
    
    .preview div:nth-of-type(2) div {
        width: 100px;
    }

    .resize-text div {
        font-size: 42px;
    }

    .resize-text p {
        font-size: 25px;
    }

    .spot-img {
        width: 120px;
        margin-bottom: -50px;
    }

    .file-format-text {
        min-width: 38%;
    }

    .file-format-text div {
        font-size: 42px;
    }

    .file-format-text p {
        font-size: 25px;
    }

    .step {
        margin-bottom: 20px;
    }

    .steps div {
        width: 260px;
        height: 260px;
    }

    .steps-title {
        margin-bottom: 0px;
    }
}

@media (max-width: 820px) {
    .middle-items {
        width: 300px;
    }

    .dropdown-content {
        left: -200px;
    }
    
    .dropdown-flex {
        flex-direction: column;
        width: 380px;
        height: auto;
    }

    .video-logo:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .image-logo {
        border-style: none;
    }
    
    .image-logo:hover {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .products-btn {
        padding-right: 4px;
        padding-left: 0px;
    }

    .about {
        padding-right: 4px;
        padding-left: 0px;
    }

    .contact {
        padding-right: 4px;
        padding-left: 0px;
    }

    .sign {
        min-width: 150px;
    }

    .preview div:nth-of-type(2) img {
        width: 100%;
        height: 250px;
    }
    
    .preview div:nth-of-type(2) div {
        width: 90px;
        margin-top: -20px;
    }

    .resize-text {
        min-width: 303px;
    }

    .file-format-text {
        min-width: 303px;
    }

    .steps div {
        width: 230px;
        height: 230px;
    }

    .step {
        font-size: 15px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .steps-title {
        font-size: 23px;
    }

    .steps div p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .p-logo {
        display: flex;
    }

    .phoditor-logo {
        display: none;
    }

    .products {
        margin-left: 5px;
    }

    .preview {
        height: 300px;
    }

    .preview div:nth-of-type(2) img {
        height: 220px;
    }

    .preview div:nth-of-type(1) p {
        font-size: 55px;
        line-height: 50px;
    }

    .title {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .resize {
        height: 230px;
    }

    .white-circle-flex img:nth-of-type(1) {
        width: 300px;
        height: 300px;
    }
    
    .white-circle-flex img:nth-of-type(3) {
        width: 200px;
        height: 200px;
    }

    .resize-text div {
        font-size: 35px;
    }
    
    .resize-text p {
        font-size: 24px;
    }

    .spot-img {
        width: 100px;
        height: 100px;
        margin-bottom: -40px;
    }
    
    .file-format {
        height: 230px;
    }

    .colored-circle-flex img:nth-of-type(1) {
        width: 300px;
        height: 300px;
    }
    
    .colored-circle-flex img:nth-of-type(3) {
        width: 200px;
        height: 200px;
    }

    .file-format-text div {
        font-size: 35px;
    }
    
    .file-format-text p {
        font-size: 24px;
    }

    .bg-remover-title {
        font-size: 43px;
        margin-bottom: 35px;
    }

    .bg-remover {
        height: 420px;
    }

    .bg-remover div {
        height: 390px;
    }

    .bg-remover-img {
        width: 230px;
        height: 330px;
    }

    .spot-1-img-1 {
        width: 120px;
        margin-top: -50px;
    }

    .steps-big-title {
        font-size: 40px;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }

    .steps div {
        width: 280px;
        height: 250px;
        margin-bottom: 30px;
        animation-play-state: paused;
    }

    .step {
        font-size: 18px;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 20px;
    }

    .steps-title {
        font-size: 27px;
    }

    .steps div p {
        font-size: 20px;
    }

    .contact-us {
        width: 90%;
    }

    .contact-us input {
        font-size: 15px;
    }

    .stay-connected-word {
        font-size: 25px;
    }

    .stay-connected a i {
        font-size: 26px;
    }
}

@media (max-width: 668px) {
    .dropdown-content {
        left: -100px;
    }

    .middle-items {
        width: 400px;
    }

    .sign {
        min-width: auto;
    }
    
    .login {
        display: none;
    }

    .preview {
        height: 250px;
    }

    .preview div:nth-of-type(1) {
        height: 250px;
    }
    
    .preview div:nth-of-type(1) p {
        font-size: 60px;
        line-height: 78px;
        text-align: center;
        margin: 0px;
    }

    .preview div:nth-of-type(2) {
        display: none;
    }

    .preview div:nth-of-type(2) div {
        margin-top: -15px;
    }

    .title {
        font-size: 40px;
    }

    .resize {
        height: 200px;
    }

    .white-circle-flex img:nth-of-type(1) {
        width: 260px;
        height: 260px;
    }
    
    .white-circle-flex img:nth-of-type(3) {
        width: 180px;
        height: 180px;
    }

    .resize-text {
        min-width: 231px;
        height: 200px;
    }

    .resize-text div {
        font-size: 32px;
    }

    .resize-text p {
        font-size: 19px;
    }

    .spot-img {
        width: 80px;
        height: 80px;
        margin-bottom: -30px;
    }
    
    .file-format {
        height: 200px;
    }

    .file-format-text {
        min-width: 231px;
        height: 200px;
    }

    .colored-circle-flex img:nth-of-type(1) {
        width: 260px;
        height: 260px;
    }
    
    .colored-circle-flex img:nth-of-type(3) {
        width: 180px;
        height: 180px;
    }

    .file-format-text div {
        font-size: 32px;
    }

    .file-format-text p {
        font-size: 19px;
    }

    .bg-remover-title {
        font-size: 40px;
    }

    .bg-remover-img {
        width: 200px;
        height: 300px;
    }

    .bg-remover p {
        font-size: 27px;
    }

    .right-arrows {
        width: 80px;
        height: 80px;
    }

    .drop {
        height: 500px;
    }

    .drop div {
        width: 90%;
        height: 100%;
    }

    .spot-1-img {
        width: 100px;
        height: 100px;
        margin-bottom: -60px;
    }

    .left-side {
        width: 40%;
    }

    .middle-side {
        display: none;
    }

    .right-side {
        width: 40%;
    }

    .stay-connected {
        margin-bottom: 30px;
    }
    
    .cookies-text {
        width: 550px;
    }
    
    .cookies-text p {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .menu {
        display: block;
        margin-right: 40px;
    }

    .dropdown {
        display: none;
    }

    .about {
        display: none;
    }

    .contact {
        display: none;
    }

    .login {
        display: inline-block;
        margin-left: 10px;
    }

    .profile-content {
        right: 10px;
    }

    .preview div:nth-of-type(1) p {
        font-size: 50px;
    }

    .title {
        font-size: 38px;
    }

    .resize {
        height: 180px;
    }

    .resize-text {
        min-width: 220px;
    }

    .resize-text div {
        font-size: 28px;
    }

    .resize-text p {
        font-size: 18px;
    }

    .white-circle-flex img:nth-of-type(3) {
        width: 140px;
        height: 140px;
    }

    .white-circle-flex img:nth-of-type(1) {
        display: none;
        width: 140px;
        height: 140px;
    }

    .spot-img {
        width: 70px;
        height: 70px;
    }

    .file-format {
        height: 180px;
    }

    .file-format-text div {
        font-size: 28px;
    }

    .file-format-text p {
        font-size: 18px;
    }

    .colored-circle-flex img:nth-of-type(3) {
        width: 140px;
        height: 140px;
    }

    .colored-circle-flex img:nth-of-type(1) {
        display: none;
    }

    .bg-remover-title {
        font-size: 33px;
    }

    .bg-remover {
        height: 280px;
    }

    .bg-remover div {
        height: 250px;
    }

    .bg-remover-img {
        width: 150px;
        height: auto;
    }

    .bg-remover p {
        font-size: 22px;
        margin-top: 10px;
    }

    .right-arrows {
        width: 60px;
        height: 60px;
        margin-bottom: 50px;
    }
    
    .spot-1-img-1 {
        width: 80px;
        margin-top: -35px;
    }

    .step {
        width: 60px;
        font-size: 15px;
    }

    .drop {
        height: 450px;
    }

    .drop p {
        font-size: 20px;
    }

    .steps-big-title {
        font-size: 32px;
    }

    .steps-title {
        font-size: 24px;
    }

    .steps div {
        width: 260px;
    }

    .steps div p {
        font-size: 18px;
    }

    .spot-1-img {
        width: 80px;
        height: 80px;
        margin-bottom: -40px;
    }

    .download-app h1 {
        font-size: 28px;
        text-align: center;
    }

    .download-app-a {
        font-size: 20px;
    }

    .download-app-a i {
        font-size: 25px;
        margin-right: 6px;
    }

    .download-app h2 {
        font-size: 13px;
    }

    .try h1 img {
        display: none;
    }

    .stay-connected-word {
        min-width: 190px;
        font-size: 22px;
    }

    .stay-connected {
        width: 100%;
    }
    
    .stay-connected a i {
        font-size: 22px;
    }

    .copyright {
        font-size: 15px;
    }

    .arrow-up-btn {
        width: 40px;
        height: 40px;
        right: 5px;
        bottom: 5px;
    }

    .arrow-up-btn i {
        font-size: 28px;
    }

    .cookies-btn {
        width: 40px;
        height: 40px;
        left: 5px;
        bottom: 5px;
    }
    
    .cookies-btn i {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .cookies-text {
        width: 350px;
        height: 300px;
        bottom: 50px;
    }
    
    .cookies-text p {
        font-size: 16px;
        margin-top: 5px;
    }

    .cookies-text div button:nth-of-type(1) {
        margin-left: 80px;
        margin-bottom: 15px;
    }

    .cookies-text div button:nth-of-type(2) {
        margin-left: 40px;
    }
}

@media (max-width: 425px) {
    .login {
        display: none;
    }

    .preview {
        height: 200px;
        margin-bottom: 140px;
    }

    .preview div:nth-of-type(1) {
        height: 200px;
    }

    .preview div:nth-of-type(1) p {
        line-height: 60px;
    }

    .title {
        margin-bottom: 25px;
    }

    .resize {
        margin-bottom: 90px;
    }

    .file-format {
        margin-bottom: 170px;
    }

    .white-circle-flex {
        display: none;
    }

    .colored-circle-flex {
        display: none;
    }

    .bg-remover {
        height: 800px;
        flex-direction: column;
    }

    .bg-remover div {
        height: 320px;
    }

    .bg-remover-img {
        width: 200px;
    }

    .right-arrows {
        rotate: 90deg;
        margin-bottom: 0px;
    }

    .sides {
        height: 150px;
    }

    .stay-connected-word {
        min-width: 166px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .stay-connected a i {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .profile {
        margin-left: 10px;
    }
    
    .preview div:nth-of-type(1) p {
        font-size: 40px;
    }

    .steps {
        margin-bottom: 70px;
    }

    .drop {
        height: 360px;
    }

    .drop div label {
        font-size: 15px;
    }

    .drop div label i {
        font-size: 15px;
        margin-right: 4px;
    }

    .add-img {
        bottom: 10px;
    }
    
    .left-side {
        width: 45%;
    }

    .right-side {
        width: 45%;
    }

    .stay-connected-word {
        min-width: 149px;
        font-size: 18px;
    }

    .stay-connected a i {
        font-size: 18px;
    }

    .copyright {
        font-size: 13px;
    }
}