* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: linear-gradient(to left, #9900cc 7%, #3399ff 100%);
}

.edit-tools {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 50px;
}

.edit-tools div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
}

.edit-tools div:hover {
    background-color: rgba(255, 255, 255, 0.111);
    cursor: pointer;
}

.edit-tools div button {
    background: none;
    border-style: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.edit-tools div button img {
    width: 32px;
    height: 32px;
}

.image-tools {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 50px;
}

.image-tools div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 50px;
}

.image-tools div:hover {
    background-color: rgba(255, 255, 255, 0.138);
    cursor: pointer;
}

.image-tools div button {
    background: none;
    border-style: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.image-tools div button img {
    width: 32px;
    height: 32px;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.182);
    border-style: none;
    width: auto;
    height: 35px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 4px;
}

.download-btn:hover {
    background-color: rgba(255, 255, 255, 0.264);
    cursor: pointer;
}

.download-btn img {
    width: 25px;
    height: 25px;
}

.download-btn h5 {
    color: white;
    margin-bottom: 0px;
    margin-left: 5px;
}

.image-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
}

.image-container img {
    width: fit-content;
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 80px);
    align-self: center;
}